<div class="container">
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="username" class="sr-only">Login</label>
    <input formControlName="username"
           type="text"
           id="username"
           class="form-control"
           placeholder="Username"
           required autofocus>
    <p class="help-block" *ngIf="!signupForm.get('username').valid && signupForm.get('username').touched">Please enter email.</p>
    <label for="inputPassword" class="sr-only">Password</label>
    <input formControlName="password"
           type="password"
           id="inputPassword"
           class="form-control"
           placeholder="Password"
           required>
    <p class="help-block" *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched">Please enter password.</p>
    <button type="submit"
            [disabled]="signupForm.pristine || signupForm.invalid"
            class="btn btn-lg btn-primary btn-block">SignIn
    </button>
  </form>
</div>
