* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-weight: 400;
    height: auto !important;
    height: 100%;
    min-height: 100%;
    text-rendering: optimizeLegibility;
}

span
{
    display: block;
    width: 33px;
    height: 4px;
    margin-top: 5px;
    position: relative;

    background: red;
    border-radius: 3px;

    z-index: 1;
}


header {
    border-bottom: 1px solid rgba(0,0,0,.15);
    display: flex;
    flex-direction: column;
    text-align: center;
}

img {
    height: 100%;
}

header > div#logo {
    line-height: 50px;
    position: relative;
}

header > .menuDown {
    box-shadow: 0 3px 5px rgba(0,0,0,.15);
}

header > .menuUp {
    box-shadow: none;
}

header > div#logo > h1 {
    display: none;
}

header > div#logo > div#navToggle {
    position: absolute;
    right: 0;
    top: 0;
    transition: 300ms all ease;

}


header > div#logo > div#navToggle > a {
    color: rgba(255,255,255,.85);
    display: block;
    font-size: 0.85em;
    font-weight: 600;
    padding: 0 2.5rem;
    text-decoration: none;
    transition: 300ms all ease;
}

header > div#logo > div#navToggle:hover > a {
    color: rgba(255,255,255,1);
}

header > nav {
    background-image: linear-gradient(to right, gold, yellow);
    display: none;
    flex: 1;
    transform: 300ms all ease;
}

header nav > ul {
    list-style-type: none;
}

header nav > ul > li {
    border-bottom: 1px dotted rgba(0,0,0,.1);
    position: relative;
}

header nav > ul > li:last-of-type {
    border-bottom: none;
}

header nav > ul > li > a {
    display: block;
    color: red;
    font-weight: 600;
    padding: 3rem 0;
    text-decoration: none;
}

header nav > ul > li > a:hover{
    display: block;
    color: red;
    font-weight: 900;
    text-decoration: underline;
}

@media all and (min-width: 800px) {
    header > div#logo > div#navToggle {
        display: none;
    }

    header > div#logo > h1 {
        display: inline;
        color: red;
        font-weight: 300;
    }

    header {
        background-color: white;
        flex-direction: row;
        line-height: 90px;
        padding: 0 3rem;
        position: fixed;
        text-align: left;
        width: 100%;
    }

    header > div#logo {
        background-color: transparent;
        line-height: 90px;
    }

    header > nav {
        background-color: transparent;
        display: block;
    }

    header > nav > ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    header nav > ul > li {
        border-bottom: none;
    }

    header nav > ul > li > a {
        padding: 0 1.25rem;
    }

}